@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');


body {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  text-align: center;
  background-image: url('../images/index-background.jpg');
  margin-top: 15px;
  color: #e2e4e6;
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

header {
  grid-area: header;
}

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
}

main {
  grid-area: main;
  margin-bottom: 40px;
}

h1 {
  font-size: 5vw;
}

h2 {
  margin: 5px;
  font-size: 25px;
}

#toggle {
  background: #0000009c;
  padding: 5px;
  margin-bottom: 5px;
}

#x {
  text-align: right;
  cursor: pointer;
}

#all-roles {
  background: #0000009c;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 18%));
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-content: center;
  font-size: medium;
  padding: 5px 0px;
  color: #fff;
}

#all-roles .card:hover {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

#enemies {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "undefeated-roles defeated-roles";
  grid-gap: 10px;
  padding-bottom: 5px;
}

.undefeated-roles {
  grid-area: undefeated-roles;
  grid-template-areas: "undefeated-title""undefeated";
}

.defeated-roles {
  grid-area: defeated-roles;
  grid-template-areas: "defeated-title""defeated";
}

div[class$='roles'] {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
}

#undefeated-title {
  grid-area: undefeated-title;
}

#undefeated {
  grid-area: undefeated;
  justify-content: left;
}

#defeated-title {
  grid-area: defeated-title;
}

div[class$='title'] {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 2vw;
  background: #373a3896;
  padding: 5px;
  margin-bottom: 5px;
}

#defeated {
  grid-area: defeated;
  justify-content: right;
}

div[id$='defeated'] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 22%));
  grid-template-rows: 1fr;
  grid-gap: 10px;
  font-size: small;
  background: #0000009c;
  align-items: center;
}

#game-message,
#history-div {
  color: white;
  background: #0000009c;
  padding: 5px;
  font-size: 17px;
}

button {
  background: #000000ba;
  font-size: xx-large;
  color: #f1e9e9;
  border: solid #000000 2px;
  cursor: pointer;
}

#battle-ground {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "player-section stats opponent-section";
  grid-gap: 10px;
  margin-bottom: 10px;
}

.player-section {
  grid-area: player-section;
  grid-template-areas: "player-title""player"
}

.opponent-section {
  grid-area: opponent-section;
  grid-template-areas: "opponent-title""opponent"
}

.player-title {
  grid-area: player-title;
}

.opponent-title {
  grid-area: opponent-title;
}

#player {
  grid-area: player;
  float: left;
  position: relative;
  background: #4c628ead;
  padding: 5px 0px;
}

.stats-div {
  grid-area: stats;
  grid-template-areas: "attackBtn""game-stats";
  align-self: center;
  padding: 10px;
  background: #2c2f2dcc;
  border: solid black 2px;
}

#opponent {
  grid-area: opponent;
  justify-self: right;
  position: relative;
  background: #a53f3f91;
  padding: 5px 0px;
}

#attack-butotn {
  grid-area: attackBtn;
}

#game-stats {
  grid-area: game-stats;
}

h3 {
  height: 20%;
}

footer {
  grid-area: footer;
  background: #0000009c;
  padding: 10px;
}

span {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 960px) {
  body {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }
}